header {
	position: relative;
}

button {
  border: none;
  background-color: rgba(255,255,255, 0%)  ;
}

.superContainer {
  background-color: #4e8aaf;
}

.mainHeader {
  display: flex;
  justify-content: center;
  width: 100%;
  color: wheat;
  text-align: center;
  padding: 10px 10px;
  padding-bottom: 0;
  box-sizing: border-box;/*#080504 dark gray*/;
}
  
.mainHeader h1 {
  transform: translateY(-61%);
  width: 60%;
  padding: 20px 100px;
  background-color: #9e1a1ad6;
  font-size: 2rem;
  border-radius: 10px;
}

.mainPic img {
	width: 100%;
	display: block;
  object-fit: cover;
}

.stylesSection {
  padding: 40px 0;
  padding-top: 0;
  background-color: #4e89ae;
}

.stylesHeader h2 {
	margin: 0;
	padding-bottom: 10px;
	text-align: center;
}

.stylesContainer {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	flex-wrap: wrap;
	background-color: #4e89ae;
}

.stylesBit {
	width: 95%;
}

.stylesBit img {
	width: 100%;
	border-radius: 50%;
	border: 5px solid;
  border-color: rgb(255 255 255 / 25%);
}

.stylesBit figcaption {
	text-align: center;
	color: #ffffff;
}

.mainInfo {
	padding: 40px 10px 10px;
	background-color: #ed6663;

}

.mainInfo h2 {
	margin: 0;
	margin-top: 10px; 
}

.mainInfoItem { 
    transition-duration: 0.5s;
  }

.mainInfoItem:active {
    transform: translateX(-20px);
    transition-duration: 0.5s;
  }

.linkStart {
	display: flex;
	justify-content: center;
	background-color: #ed6663;
}

.linkStart button{
  border: none;
  border-radius: 10px;
  padding: 10px 60px;
  margin-bottom: 25px;
  background-color: #ed6663;
}

.linkStart a {
	text-decoration: none;
	color: #000000;
  border: solid 1px #000000;
  border-radius: 10px;
  padding: 10px 60px;
  margin-bottom: 25px;
}





@media screen and (min-width: 700px) {
  
  .mainHeader {
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: #4e89ae /*#080504 dark gray*/;
  }
  
  .mainHeader h1 {
    transform: translateY(-61%);
    width: 60%;
    padding: 20px 100px;
    background-color: #9e1a1ad6;
    font-size: 3rem;
    border-radius: 10px;
  }

  .stylesHeader h2 {
    font-size: 2.5rem;
  }
  .stylesSection {
    padding: 40px 0;
    padding-top: 0;
    background-color: #4e89ae;
    transform: translateY(-60px);
  }

  .stylesBit{
    width: 46%;
	}

	.mainInfoItem {	
		margin: 0 30px;
		transition-duration: 0.5s;
	}

	.mainInfoItem:hover {
		transform: translateX(-20px);
		transition-duration: 0.5s;
	}
}





@media screen and (min-width: 1024px) {
  
  .stylesBit {
	  width: 25%;
  }

  .mainHeader h1 {
    transform: translateY(-61%);
    width: 60%;
    padding: 50px 100px;
  }

  .mainInfoHeader {
    display: flex;
    flex-direction: row;
    justify-content:  center;
  }

  .mainInfoList {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
  }

  ol {
	 list-style-type: none;
  }
  .mainInfoItem{	
  	width: 25%;
  	margin: 0 30px;
  	transition-duration: 0.5s;
  }
  .mainInfoItem:hover{
  	transform: translateY(-20px);
  	transition-duration: 0.5s;
  }
}